In [1]:
import pandas as pd
import json

In [2]:
# 读取JSON文件
with open('学者生产力曲线.json', 'r') as f:
    data = json.load(f)

In [3]:
# 入选ACM时的年龄统计
df = pd.read_excel("聚类为3时成长轨迹聚类结果绘图数据.xlsx")
df['姓名'] = [item.strip() for item in df['姓名']]
df.head()

              姓名  职业年龄    标准化发文量  聚类类别      类型
0  Markl, Volker     1  0.291914     2  normal
1  Markl, Volker     2  0.340169     2  normal
2  Markl, Volker     3  0.395398     2  normal
3  Markl, Volker     4  0.415621     2  normal
4  Markl, Volker     5  0.538655     2  normal

In [4]:
list2 = []
for key1 in df["姓名"].unique():
    df1 = df[df['姓名']==key1]
    agelist = df1['标准化发文量'].tolist()
    agelist1 = df1['职业年龄'].tolist()
    if len(agelist):
        maxage = max(agelist)
        agepeak = [i for i,item in enumerate(agelist) if item== maxage][0]
        a1 = agelist1[agepeak]
        a2 = agelist1[-1]-a1+1
        
        # fellow年龄
        age1 = df11[df11["姓名"]==key1]["年份"].tolist()
        if len(age1)>0:
            age1 = age1[0]-min(data[key1]["yearlist"])+1
            if age1<a1:
                category = 0
            else:
                category = 1
        else:
            age1 = ""
            category = ""
        list2.append([key1,a1,a2,category,df1['聚类类别'].tolist()[0],"Productivity"])
df2 = pd.DataFrame(list2,columns=["姓名","成长期","成熟期","峰值位置","聚类类别","研究对象"])
df2.head()

                        姓名  成长期  成熟期 峰值位置  聚类类别          研究对象
0            Markl, Volker   14   13    1     2  Productivity
1            Mataric, Maja   22   13    1     1  Productivity
2         Menczer, Filippo   20   13    1     1  Productivity
3           Meseguer, Jose   38   12    1     0  Productivity
4  Morris, Meredith Ringel   11   12    1     1  Productivity

In [5]:
# 入选ACM时的年龄统计
df = pd.read_excel("聚类为4时学术影响力轨迹聚类结果绘图数据-不结合发文量.xlsx")
df['姓名'] = [item.strip() for item in df['姓名']]
list2 = []
for key1 in df["姓名"].unique():
    df1 = df[df['姓名']==key1]
    agelist = df1['标准化发文量'].tolist()
    agelist1 = df1['职业年龄'].tolist()
    if len(agelist):
        maxage = max(agelist)
        agepeak = [i for i,item in enumerate(agelist) if item== maxage][0]
        a1 = agelist1[agepeak]
        a2 = agelist1[-1]-a1+1
        
        # fellow年龄
        age1 = df11[df11["姓名"]==key1]["年份"].tolist()
        if len(age1)>0:
            age1 = age1[0]-min(data[key1]["yearlist"])+1
            if age1<a1:
                category = 0
            else:
                category = 1
        else:
            age1 = ""
            category = ""
        list2.append([key1,a1,a2,category,df1['聚类类别'].tolist()[0],"Hindex"])
df3 = pd.DataFrame(list2,columns=["姓名","成长期","成熟期","峰值位置","聚类类别","研究对象"])
df3.head()

                      姓名  成长期  成熟期 峰值位置  聚类类别    研究对象
0          Markl, Volker   19    8    1     0  Hindex
1  Balazinska, Magdalena   17    9    1     1  Hindex
2         Madden, Samuel   15    7    1     1  Hindex
3             Tao, Yufei   15    7    1     1  Hindex
4          Mataric, Maja   22   13    1     1  Hindex

In [6]:
# 入选ACM时的年龄统计
df = pd.read_excel("聚类为6时p指数轨迹聚类结果绘图数据.xlsx")
df['姓名'] = [item.strip() for item in df['姓名']]
list2 = []
for key1 in df["姓名"].unique():
    df1 = df[df['姓名']==key1]
    agelist = df1['标准化发文量'].tolist()
    agelist1 = df1['职业年龄'].tolist()
    if len(agelist):
        maxage = max(agelist)
        agepeak = [i for i,item in enumerate(agelist) if item== maxage][0]
        a1 = agelist1[agepeak]
        a2 = agelist1[-1]-a1+1
        
        # fellow年龄
        age1 = df11[df11["姓名"]==key1]["年份"].tolist()
        if len(age1)>0:
            age1 = age1[0]-min(data[key1]["yearlist"])+1
            if age1<a1:
                category = 0
            else:
                category = 1
        else:
            age1 = ""
            category = ""
        list2.append([key1,a1,a2,category,df1['聚类类别'].tolist()[0],"Pindex"])
df4 = pd.DataFrame(list2,columns=["姓名","成长期","成熟期","峰值位置","聚类类别","研究对象"])
df4.head()

                      姓名  成长期  成熟期 峰值位置  聚类类别    研究对象
0          Markl, Volker    6   21    1     3  Pindex
1  Balazinska, Magdalena   10   16    1     3  Pindex
2         Madden, Samuel    2   20    1     4  Pindex
3             Tao, Yufei    7   15    1     0  Pindex
4          Mataric, Maja    8   27    1     0  Pindex

In [7]:
# 将表格按行合并
merged_df = pd.concat([df2, df3, df4], ignore_index=True)
merged_df.head()

                        姓名  成长期  成熟期 峰值位置  聚类类别          研究对象
0            Markl, Volker   14   13    1     2  Productivity
1            Mataric, Maja   22   13    1     1  Productivity
2         Menczer, Filippo   20   13    1     1  Productivity
3           Meseguer, Jose   38   12    1     0  Productivity
4  Morris, Meredith Ringel   11   12    1     1  Productivity

In [8]:
merged_df.to_excel("不同类型学者成长期-成熟期分布.xlsx",index=False)